@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Sora, Helvetica, Arial, sans-serif; }
  body header {
    display: flex;
    padding: 0.5rem; }
    body header i {
      margin: 0.5rem; }
    body header h2 {
      margin: 1rem 0 0 0.5rem; }
  body .main {
    height: 82.5vh; }
    body .main .click-instruction {
      padding: 1rem;
      display: flex;
      justify-content: space-between; }
    body .main .butt-container {
      display: flex;
      justify-content: space-around;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    body .main .butt {
      cursor: pointer;
      width: 17%; }
      body .main .butt h5 {
        padding: 0.5rem; }
      body .main .butt svg {
        width: 100%;
        display: block; }
      body .main .butt audio {
        display: none; }

footer {
  height: 50px;
  padding: 0.5rem; }
  footer i {
    color: red; }

input[type='checkbox'] {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s; }

input:checked[type='checkbox'] {
  background: #03a9f4; }

input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s; }

input:checked[type='checkbox']:before {
  left: 20px; }
